#container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 610px;
  background-color: darkgray;
}

.row0 {
  display: flex;
  color: white;
  background-color: black;
  justify-content: end;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20px;
  width: 380 px;
  height: 40px;
  font-family: arial;
  font-size: 40px;
}

.row1 {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 100px;
  border: 0.5px solid black;
}
.btn-lg {
  font-size: 40px;
  width: 200px;
  height: 100px;
}

.btn-or {
  background-color: orange;

  font-size: 40px;
  width: 100px;
  height: 100px;
}

.btn-gray {
  font-size: 40px;
  width: 100px;
  height: 100px;
}

.btn-xlg {
  font-size: 40px;
  width: 300px;
  height: 100px;
}

.row2 {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 100px;
  border: 0.5px solid black;
}

.row3 {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 100px;
  border: 0.5px solid black;
}

.row4 {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 100px;
  border: 0.5px solid black;
}

.row5 {
  display: flex;
  justify-content: center;
  width: 400px;
  height: 100px;
  border: 0.5px solid black;
}
